body { background-color : #fff;}
.uicontent { font-family: Impact, Charcoal, sans-serif; color: #333; background-color : #f8f8ff; border-radius: 15px; box-shadow: 0px 0px 40px #666; height: 100vh; }
h1 { 
  font-weight: normal;
  text-align: center;
  margin: 5;
  padding: 0;
}

    h3 {
      text-align: left;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 18px;
      font-weight: bold;
    }

#annotation-info
{
  margin: 2em 5px;
  border: 2px solid #D8A56E;
}

#video-info
{
  margin: 2em 5px;
  border: 2px solid #D8A56E;
}

.btn-save {
  margin: 5px;
  text-align: center;
  font-weight: bold;
  width: 435px;
}

.spaced-div {
  margin: 1em 3px;
}

.btn-success {
    color: #6e6e6e;
    background-color: #ecf8e0;
    width: 145px;
}

.btn-warning {
    color: #6e6e6e;
    background-color: #F2F5A9;
    width: 145px;
}

.btn-danger {
    color: #6e6e6e;
    background-color: #e8e0e0;
    width: 145px;
}


#airlock { margin: 2em 5px; }
#video-player {border: 2px solid #D8A56E;
box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
-webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
-moz-box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
}
